---
layout: default
---

{% assign project = site.data.projects | where:"local_link", page.local_link |
first %}
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ project.name | escape }}</h1>
  </header>
  <p>{{project.description}}</p>
  <div class="post-content">{{ content }}</div>
  {%- if project.live_demo_link -%}
  <a href="{{project.live_demo_link}}">
    <i class="fa-solid fa-rocket"></i> Live Demo
  </a>
  {%- endif -%} {%- if project.google_play_link -%}
  <a
    href="{{project.google_play_link}}"
    style="display: block; margin-top: 5px"
  >
    <i class="fa-brands fa-google-play"></i> Google Play
  </a>
  {%- endif -%} {%- for github_repo in project.github_repos -%}
  <a href="{{github_repo.link}}" style="display: block; margin-top: 5px"
    ><i class="fa-brands fa-github"></i> {{github_repo.name}} GitHub
    Repository</a
  >
  {%- endfor -%}
</article>
